{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="center-block">
            <h1 class="book-edit" data-meta="title">一個安靜閱讀的地方</h1>
        </div>

        <p>
        這個站點，搭建出來就為了能夠方便地看書的。

        <br/>
        因此收集了許多網絡上的圖書資源，做成了一個在線的書架管理。
        目前還只是簡單的上傳、檢索、下載、推送，但應該足夠了。

        <br/>
        只希望能夠安靜地閱讀。

        <br/>
        有問題，請郵件聯繫 <img src="{{static_url("img/mail.gif")}}"/>

        <br/>
        </p>

    </div>
    <div class="col-md-12">
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-md-12">
</div>
{% endblock %}

