<div class="col-md-12">
<!--
    <span class="legend">最新功能</span>
    <div class="alert alert-warning text-center" role="alert">
        2017年10月更新：增加書籍熱度榜單<br/>
        2016年02月更新：增加用戶主頁，修復閱讀器BUG<br/>
        2015年11月更新：導入kindleren.com近8G書籍<br/>
        2015年10月更新：支持在線閱讀功能
    </div>
-->

    <span class="legend">分類瀏覽</span>
    <div class="list-group">
        <a href="/book"     class="list-group-item {% if category == "books"      %}active{% endif %}"><span class="badge">{{db.count()}}</span> 所有書籍</a>
        <a href="/pub"      class="list-group-item {% if category == "publishers" %}active{% endif %}"><span class="badge">{{db.all_publishers()|length}}</span> 出版</a>
        <a href="/author"   class="list-group-item {% if category == "authors"    %}active{% endif %}"><span class="badge">{{db.all_authors()|length}}</span> 作者</a>
        <a href="/tag"      class="list-group-item {% if category == "tags"       %}active{% endif %}"><span class="badge">{{db.all_tags()|length}}</span> 標籤</a>
        <a href="/recent"   class="list-group-item {% if category == "recents"    %}active{% endif %}">最新更新</a>
        <a href="/rating"   class="list-group-item {% if category == "ratings"    %}active{% endif %}">全部評分</a>
        <a href="/hot"      class="list-group-item {% if category == "hot"        %}active{% endif %}">熱度榜單</a>
    </div>



    <span class="legend">添加書籍</span>
    <div class="list-group">
        <a class="btn btn-primary btn-block" href="/book/add"><span class="glyphicon glyphicon-cloud-upload"></span> 添加書籍</a>
        {% if request.admin_user %}
        <a class="btn btn-danger btn-block" href="/admin">管理員入口</a>
        {% endif %}
    </div>


</div>
