<div class="col-md-12">
<!--
    <span class="legend">最新功能</span>
    <div class="alert alert-warning text-center" role="alert">
        2017年10月更新：增加書籍熱度榜單<br/>
        2016年02月更新：增加用戶主頁，修復閱讀器BUG<br/>
        2015年11月更新：導入kindleren.com近8G書籍<br/>
        2015年10月更新：支持在線閱讀功能
    </div>
-->

    <span class="legend">分類瀏覽</span>
    <div class="list-group">
        <a href="/book"     class="list-group-item {% if category == "books"      %}active{% endif %}"><span class="badge">{{db.count()}}</span> 所有書籍</a>
        <a href="/pub"      class="list-group-item {% if category == "publishers" %}active{% endif %}"><span class="badge">{{db.all_publishers()|length}}</span> 出版</a>
        <a href="/author"   class="list-group-item {% if category == "authors"    %}active{% endif %}"><span class="badge">{{db.all_authors()|length}}</span> 作者</a>
        <a href="/tag"      class="list-group-item {% if category == "tags"       %}active{% endif %}"><span class="badge">{{db.all_tags()|length}}</span> 標籤</a>
        <a href="/recent"   class="list-group-item {% if category == "recents"    %}active{% endif %}">最新更新</a>
        <a href="/rating"   class="list-group-item {% if category == "ratings"    %}active{% endif %}">全部評分</a>
        <a href="/hot"      class="list-group-item {% if category == "hot"        %}active{% endif %}">熱度榜單</a>
    </div>

    <span class="legend">下載</span>
    <div class="list-group">
        <a href="https://github.com/talebook/calibre-webserver" class="list-group-item">站點源碼</a>
        <a href="https://github.com/talebook/talebook-library" class="list-group-item">書庫打包</a>
        <a href="http://diumx.com" target="_blank" class="list-group-item">友鏈：芒果讀書</a>
        <a href="https://bookset.me" target="_blank" class="list-group-item">友鏈：bookset</a>
        <a href="https://book.killsad.top" target="_blank" class="list-group-item">友鏈：陳蕓書屋</a>
    </div>

    <span class="legend">系統信息</span>
    <div class="list-group">
        <a href="/blog" target="_blank" class="list-group-item">博客</a>
        <a href="#_" class="list-group-item"><span class="pull-right">1.4.13</span> 系統版本</a>
        <a href="#_" class="list-group-item"><span class="pull-right">{{db.last_modified()|day}}</span> 最後更新</a>
        <a href="#_" class="list-group-item"><span class="pull-right">{{count_all_users}}</span> 全部用戶數</a>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <img style="width:100%" class="center-block" src="{{static_url("img/wechat.jpg")}}" atl="wechat: love-talebook" />
            <p class='text-center'>微信公眾號</p>
        </div>
        <div class="col-xs-6">
            <img style="width:100%" class="center-block" src="{{static_url("img/qq.png")}}" atl="wechat: love-talebook" />
            <p class='text-center'>QQ讀書群</p>
        </div>
    </div>


    <span class="legend">添加書籍</span>
    <div class="list-group">
        <a class="btn btn-primary btn-block" href="/book/add"><span class="glyphicon glyphicon-cloud-upload"></span> 添加書籍</a>
        {% if request.admin_user %}
        <a class="btn btn-danger btn-block" href="/admin">管理員入口</a>
        {% endif %}
    </div>


</div>
